<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arlley.pack.mapper.CaseMainTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.arlley.pack.entity.CaseMainTable">
        <id column="id" property="id" />
        <result column="caseNo" property="caseNo" />
        <result column="reason" property="reason" />
        <result column="nature" property="nature" />
        <result column="foreigner" property="foreigner" />
        <result column="contractNo" property="contractNo" />
        <result column="custom_id" property="customId" />
        <result column="party" property="party" />
        <result column="party_status" property="partyStatus" />
        <result column="party_my" property="partyMy" />
        <result column="time" property="time" />
        <result column="department" property="department" />
        <result column="lawsuit" property="lawsuit" />
        <result column="proxy_amount" property="proxyAmount" />
        <result column="charge_mode" property="chargeMode" />
        <result column="gov" property="gov" />
        <result column="gov_amount" property="govAmount" />
        <result column="law_suit_pro" property="lawSuitPro" />
        <result column="law_suit_status" property="lawSuitStatus" />
        <result column="exclu_case_no" property="excluCaseNo" />
        <result column="sourcer" property="sourcer" />
        <result column="third_party" property="thirdParty" />
        <result column="incidental" property="incidental" />
        <result column="assign" property="assign" />
        <result column="pro" property="pro" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="file" property="file" />
        <result column="note" property="note" />
        <result column="caseState" property="caseState" />
        <result column="approveState" property="approveState" />
        <result column="approver" property="approver" />
        <result column="alreadyPay" property="alreadyPay"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, caseNo, reason, nature, foreigner, contractNo, custom_id, party, party_status, party_my, time, department, lawsuit, proxy_amount, charge_mode, gov, gov_amount, law_suit_pro, law_suit_status, exclu_case_no, sourcer, third_party, incidental, assign, pro, city, county, file, note, caseState,alreadyPay
    </sql>


    <sql id="search">
        cmt.id as id,
        cmt.caseNo as  caseNo,
        cmt.reason as  reason,
        cmt.nature as  nature,
        cmt.foreigner as  foreigner,
        cmt.contractNo as  contractNo,
        cmt.custom_id as  custom_id,
        cmt.party as  party,
        cmt.party_status as  party_status,
        cmt.party_my as  party_my,
        cmt.time as  time,
        cmt.department as  department,
        cmt.lawsuit as  lawsuit,
        cmt.proxy_amount as  proxy_amount,
        cmt.charge_mode as  charge_mode,
        cmt.gov as  gov,
        cmt.gov_amount as  gov_amount,
        cmt.law_suit_pro as  law_suit_pro,
        cmt.law_suit_status as  law_suit_status,
        cmt.exclu_case_no as  exclu_case_no,
        cmt.sourcer as  sourcer,
        cmt.third_party as  third_party,
        cmt.incidental as  incidental,
        cmt.assign as  assign,
        cmt.pro as  pro,
        cmt.city as  city,
        cmt.county as  county,
        cmt.file as  file,
        cmt.note as  note,
        cmt.caseState as  caseState,
        cmt.approveState as approveState,
        cmt.approver as approver,
        cmt.alreadyPay as alreadyPay
</sql>

    <select id="searchAll" resultMap="BaseResultMap" parameterType="map">
        select <include refid="search"/>
        from case_main_table cmt left join custom ct on ct.id = cmt.custom_id
        <where>
            <if test="customName != null">
                and (ct.name = #{customName} or cmt.party_my = #{customName})
            </if>
            <if test="party != null">
                and cmt.party = #{party}
            </if>
        </where>
    </select>

</mapper>
