<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arlley.pack.mapper.CodegenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.arlley.pack.entity.Codegen">
        <id column="id" property="id" />
        <result column="p_no" property="pNo" />
        <result column="num_length" property="numLength" />
        <result column="max_num" property="maxNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, p_no, num_length, max_num
    </sql>

    <select id="selectBypNo" resultMap="BaseResultMap">

        select <include refid="Base_Column_List"/>
        from codegen where p_no = #{pNo}
    </select>
</mapper>
