<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arlley.pack.mapper.PayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.arlley.pack.entity.Pay">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="time" property="time" />
        <result column="amount" property="amount" />
        <result column="pay_type" property="payType" />
        <result column="case_no" property="caseNo" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, time, amount, pay_type, case_no, create_time
    </sql>

    <select id="selectAllPay" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from pay
    </select>

</mapper>
