<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arlley.pack.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.arlley.pack.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="tel" property="tel" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, password, tel, state
    </sql>

    <select id="selectByTelAndPassword" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from user where tel = #{tel} and password = #{password}
    </select>

    <select id="getAllUser" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from user
    </select>

</mapper>
