<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arlley.pack.mapper.WorkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.arlley.pack.entity.Work">
        <id column="id" property="id" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="work" property="work" />
        <result column="duty" property="duty" />
        <result column="workType" property="workType" />
        <result column="nature" property="nature" />
        <result column="lid" property="lid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, startTime, endTime, work, duty, workType, nature, lid
    </sql>

</mapper>
